src/main/mule/mulecicdproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="588d6a9a-ebdb-4cc2-973f-fac314e236fb" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mulecicdprojectFlow" doc:id="07e86619-a6b7-424e-9256-551d83e0705e" >
		<http:listener doc:name="Listener" doc:id="68668a4c-b448-41a3-96bb-6af17ef65c2a" config-ref="HTTP_Listener_config" path="/cicd"/>
		<set-payload value='#["CICD repository"]' doc:name="Set Payload" doc:id="d95500f3-cd74-4d2b-aa1e-b9a6c7ef297a" />
	</flow>
</mule>
